@charset "utf-8";
/* CSS Document */
p {
	color: green;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite;
	padding: 20px;
	
}
.paragraf_2 
{color:darkcyan; background-color: rgba(255, 255, 255, 0.5)}
.novi_blok {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin: 20px;
	width: 70%;
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:cadetblue;	
}

span {color: rgb(255, 0, 255);}
.pozadina {
	background-image: url("../../likovni/3613675839_44b3cc5cdb_b.jpg");
}
.drugapozadina{
	background-color: darkgray;
}

a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 25px;
	border: 1px solid #000000;
}
a:hover {
	background-color: darkgray;
}
img {
	height: 200px;
}










