@charset "utf-8";
/* CSS Document */

p {
	color: #5E4C5A;
	font-family:'JosefinSans Light';
	font-size: 20px;
	line-height: 23px;
	width: 600px;
	background-color:#EFE5DC;
	padding: 20px;
	
}
.paragraf_2 
{color:#5E4C5A; background-color: solid rgba(255, 255, 255, 0.5)}
.novi_blok {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin: 20px;
	width: 70%;
}
 h2 {
	font-size: 50px;
	font-family:"JosefinSans Medium";
	color:#FBFEFB;
	
}
<link rel="preload" href="KristinaKukovacec.ttf" as="font" type="font/ttf" crossorigin>

h1{    font-family: 'KristinaKukovacec';
    font-weight: normal;
    font-style: normal;
	background-size: contain;
	background-color:#EFE5DC;
	padding: 20px;
	width: 550px
}

span {color: rgb(255, 0, 255);}
.pozadina {
	background-image: url("pozadina.jpg");
	
}
.drugapozadina{
	background-color: darkgray;
}

a:link {
	font-size: 20px;
	color: #5E4C5A;	;
	background-color: #FBFEFB;
	padding: 5px;
	line-height: 40px;
	border: 2px solid #5E4C5A;	;
}
a:hover {
	background-color: #F3D8C7;
}

img {
  border: 10px solid #EFE5DC;
}











